<main class="container">
    <div class="row">
        <div class="col-12 alert alert-warning" role="alert">
            This is a warning alert—check it out!
        </div>
        <section class="dashboard--welcome col-8">
          <h3>Welcome to EQ's adomatic!</h3>
          <p>This application is in alpha, which means it's our very first release. Because the application is brand new, brittle, and likely to have bugs, we'd like to offer you an extremely discounted rate on advertising ($1/day), to thank you for testing it and to make up for any potential inconveniences that may occur.</p>
        </section>
        <section class="dashboard--get-started col-12">
            <p><a class="nav-link btn-primary" routerLink="/create-ad" routerLinkActive="active"> I'm in! Let's make an ad!</a></p>
            
        </section>
        <section class="dashboard--onboard clearfix">
            <h3>How does it work?</h3>
            <ul>
                <li>What kind of ads do you offer?</li>
                <li>How much do ads cost?</li>
                <li>How long will my ad run?</li>
                <li>How can I upload my ad?</li>
                <li>I don't have ad art, can you design the ad for me?</li>
                <li>How long after I upload and pay can I expect to see my ad on the site?</li>
                <li>Can I preview my ad before I pay for it?</li>
                <li>If I make an ad, but I'm not ready to buy it just yet, can I save it for later?</li>
                <li>What if I want to renew an ad beyond its' end date?</li>
                <li>What if I make a mistake when I submit my ad, and I need to change it?</li>
                <li>What if I decide I don't want my ad to run for the time I initially requested?</li>
                <li>Are there restrictions on what can be advertised?</li>
            </ul>
        </section>

        
    </div>
</main>
